---
import "../styles/global.css";

interface Props {
	title?: string;
	activePage?: "home" | "diet" | "training" | "measures";
}

const { title = "Henrique's Progress", activePage = "home" } = Astro.props;

const nav = [
	{ label: "Diet", href: "/diet", key: "diet" },
	{ label: "Training", href: "/training", key: "training" },
	{ label: "Measures", href: "/measures", key: "measures" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <script>import 'tuicss/dist/tuicss.min.js';</script>
  </head>
  <body class="tui-bg-purple-black" style="min-height: 100dvh;">

    <nav class="tui-nav">
      <a href="/">ᕙ(`▽´)ᕗ</a>
      {nav.map(item => (
        <a
          href={item.href}
          class="black-168-text"
        >
        <span class="red-168-text">{item.label.substring(0, 1)}</span>{item.label.substring(1)}
        </a>
      ))}
      <span class="tui-datetime" data-format="h:m a"></span>
    </nav>

    <main class="p-4 m-auto max-w-[1000px]">
      <slot />
    </main>

  </body>
</html>

<style>
  html, body {
    margin: 0;
    width: 100%;
  }
</style>
