---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="tui-window mb-4 w-full">
  <fieldset class="tui-window-header blue-168 mx-2">
    <legend>{title}</legend>
  </fieldset>
  <div class="content flex flex-col gap-4">
    <slot />
  </div>
</div>
